*{
    padding: 0;
    margin: 0;
}

:root {
    --fc-border-color: #003050;
    --fc-daygrid-event-dot-width: 5px;
    /*--fc-today-bg-color: #cadd09;*/
    font-family: Verdana;
}

.fc-col-header-cell-cushion{
    text-transform: uppercase;
}



.fc-col-header-cell{
    background-color: #003050;
    color: white;
}

.fc-toolbar-title{
    text-transform: lowercase;
    color: #003050;
}

.fc-toolbar-title::first-letter {
    text-transform: uppercase;
}

.fc-event-title-container{
    margin: 0.5rem;
}

.fc-event-main-frame{
    background-color: #00a5b6;
    
}

.fc-event-title{
    background-color: #00a5b6;
    white-space: normal;
    
}

.block-header{
    background-color: #003050;
}

h1{
    padding: 2%;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.block-content{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.block-copyright{
    font-weight: bold;
    color: #003050;
    text-align: center;
    margin: 2rem;
}

.text-link{
    color: #00a5b6;
}
